parameters:
    tmpDir: ./build/cache/phpstan
    level: max
    paths:
        - ./src
        - ./tests
    ignoreErrors:
        -
            message: '#Method Ramsey\\Pygments\\ProcessBuilder::getProcess\(\) return type has no value type specified in iterable type#'
            path: src/ProcessBuilder.php
        -
            message: '#Method Ramsey\\Pygments\\Pygments::getOutput\(\) has parameter \$process with no value type specified in iterable type#'
            path: src/Pygments.php
